rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /pictures/{pictureId} {
      allow read: if true;
      allow create: if isSignedIn();
      allow update: if false;
      allow delete: if isOwner(get(/databases/$(database)/documents/pictures/$(pictureId)).data.uploadedByUserId);
    }
  }

  //functions
  function isSignedIn() {
  	return request.auth != null;
  }
  
  function isOwner(userId) {
  	return request.auth.uid == userId;
  }
}
