rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /pictures/{userId} {
      match /{allImages=**} {
        allow read;
        allow create: if request.auth.uid != null;
        allow update, delete: if request.auth.uid == userId;
      }
    }
  }
}
